.headline {
  text-align: center;
  font-family: georgia;
}
.headline header {
  font-size: 40px;
  color: DarkGreen;
}
.headline p {
  font-size: 30px;
}
img {
  float: left;
  margin: 20px;
  height: 300px;
  width: 300px;
}
a {
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
  line-height: 25px;
}
