.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e5ebff;
}

.navbar ul li {
    float: left;
    width: 25%
}

.navbar ul li a {
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    display: block;
    color: red;
    text-align: center;
    text-decoration: none;
}
.navbar ul li a:hover:not(.active) {
    background-color: #992dff;
}

.active {
background-color:#ff87cf;
}
body {
    background-image: url("background.jpg");
    background-size: cover;
    /*background-repeat: no-repeat;*/
    background-position: center center;
}
