.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height:40px;
    background-color: rgba(255, 230, 255,0.5);
}

.navbar ul li {
    height:40px;
    width:25%;
    float: left;
}

.navbar ul li a {
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    display:block;
    float:center;
    width:100%;
    color: rgb(255, 153, 153);
    text-align: center;
    text-decoration: none;
    font-size:200%;
}
.navbar ul li a:hover:not(.active) {
    background-color: rgba(230, 179, 255,0.5);
}

.active {
background-color:#ff87cf;
}
#main {
    color:rgb(255, 255, 204);
    background-color:rgba(0,0,0,0.4);
    bottom: 70px;
    margin-left:10%;
    margin-right:10%;
    padding:12px;
    width:80%;
}
body {
    background-image: url("congruent_pentagon.png");
    background-size: cover;
    /*background-repeat: no-repeat;*/
    background-position: center center;
}
