.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height:40px;
    background-color: rgba(255, 230, 255,0.5);
}

.navbar ul li {
    float: left;
    width: 25%;
    height:40px;
}

.navbar ul li a {
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    height:40px;
    float:center;
    display: block;
    color: red;
    text-align: center;
    text-decoration: none;
}
.navbar ul li a:hover:not(.active) {
    background-color: rgba(230, 179, 255,0.5);
}

.active {
background-color:#ff87cf;
}
body {
    background-image: url("background.jpg");
    background-size: cover;
    /*background-repeat: no-repeat;*/
    background-position: center center;
}
