body {
    background-image: url("background.jpg");
    background-color: #cccccc;
text-shadow:1px 1px 1px rgba(179,179,179,1);font-weight:normal;color:#DEE3D1;letter-spacing:0pt;word-spacing:-1pt;font-size:21px;text-align:center;font-family:arial, helvetica, sans-serif;line-height:1;


}

#main {
padding:1%;
margin-left:5%;
margin-right:5%;
margin-top:2%;
margin-bottom:2%;
width:90%;
background-color:rgba(255,255,255,0.4);
}
.textScroll {
overflow-y: auto;
}
#yearInput{
    width:20%;
    text-align: center; 
}
